.THIS .manualinput {
    background-color: #fff2cc;
    color: black;
  	width:100%;
}
.THIS .slds-form-element__control  {
    width:100%;    
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    
}
.THIS .mintam{
	width:600px;
}
.THIS .slds-input{
    text-align: center;
}