.THIS .slds-form-element__label {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 0.875rem;
    font-weight: bolder;
    line-height: 1.5;
    margin-right: .75rem;
    margin-bottom: .125rem;
}
.THIS .back{
     background-color: #ddebf7;
}