.THIS.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}
.THIS .bordered{
    border-collapse: separate;
    border-top: 1px solid rgb(221, 219, 218);
    border-bottom: 1px solid rgb(221, 219, 218);   
}
.THIS .fondo{
    background-color: rgb(250, 250, 249);
    color: rgb(81, 79, 77);
    padding: .25rem .5rem;
    
}